<h3>Navigation Links</h3>
<ul id="nav_links">
    <li><%= link_to 'Items Index', '/items' %></li>
    <li><%= link_to 'Retailstore Index', '/retailstores' %></li>
    <li><%= link_to 'New Retailstore', '/retailstores/new' %></li>
</ul>

<h1>Welcome!</h1>

<% @retailstores.each_with_index do |retailstore, index| %>
<div id="retailstore-<%= index %>">

    <h3><%= retailstore.name %></h3>

            <p>Created at: <%= retailstore.created_at %></p>
            <p><%= link_to "Click Here To Edit This #{retailstore.name} ", "/retailstores/#{retailstore.id}/edit"%></p>
            <p><%= link_to "Click Here To Delete This #{retailstore.name} ", "/retailstores/#{retailstore.id}", method: :delete %></p>


</div>
<% end %>
